@import "./variables";

#equipment_and_consumables {
    display: flex;
    flex-direction: row;
}

#equipment_slot1,
#equipment_slot2,
#equipment_slot3,
#directive_slot,
#consumable_slot1,
#consumable_slot2,
#consumable_slot3,
#camouflage_slot {
    min-width: 54px;
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 35, 34);
}

#equipment_slot1:hover,
#equipment_slot2:hover,
#equipment_slot3:hover,
#directive_slot:hover,
#consumable_slot1:hover,
#consumable_slot2:hover,
#consumable_slot3:hover {
    background-color: rgb(72, 75, 74);
    cursor: pointer;
}

#equipment_slot2,
#consumable_slot2 {
    margin-left: 1px;
    margin-right: 1px;
}

#slots_for_equipment,
#slots_for_consumable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 164px;
    height: 54px;
}

#slots_for_ammunition {
    min-width: 128px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(32, 35, 34);
    margin-right: 10px;
}

#ammunition_slot1,
#ammunition_slot2,
#ammunition_slot3 {
    height: 54px;
    width: 20px;
    background-color: rgb(72, 75, 74);
}


#equipment {
    width: 290px;
    height: 185px;
}

#camouflage_slot,
#directive_slot {
    margin-left: 10px;
    margin-right: 10px;
}